.about{
    background: black;
    height: 100%;
    color: white;

}


.about p {
    font-size: larger;
}

#prof{
    border-radius: 5%;
    width: 30%;
    height: 20%;
    margin-left: 25%;
}

.intro{
    margin-left: 16%;
}

.about h1{
    color: white;
}

.intro h1{
    margin-left: 22%;
    font-size: 60px;
    color: white;
}

.intro h3{
    margin-left: 29%;
    margin-bottom: 5%;
}

.about .description{
    padding: 5%;
}

.about .education{
    padding: 5%;
}
.about .skills{
    padding: 5%;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.about .skills .pink{
    color: #FF4F79;
    width: 15%;
}

.about .skills .blue{
    color: royalblue;
    width: 10%;
}

.about .skills li{
    list-style-type: none;
    list-style: none;
    text-decoration: none;
}

.experience{
    padding: 2%;
    color:  white;
    width: 100%;
}

.experience h1{
    color: black;
}

.experience .econtains{
    background: white;
    color: black;
    padding: 5%;
    margin-left: 25%;
    width: 50%;
}