.projects{
    padding: 5%;
    background: white;
    color: white;
    width: 100%;
}

.projects .pcontainer{
    background: black;
    border-radius: .1%;
    width: 100%;
}

.projects .pheader h1{
    margin-left: 45%;
    margin-bottom: 2%;
    padding-top: 5%;

}

.projects .projectI{
    display: grid;
    width: 100%;
    margin-left: 7%;
    grid-template-columns: repeat(2,40%);
    padding-left: 10%;
}


.projects .projectI img{
    margin-bottom: 10%;
    height: 100%;
    width: 80%;
}

.projects .projectI p{
    width: 75%;
}

.projects .projectI button{
    margin-bottom: 10%;
    height: 6%;
    width: 35%;
    border: none;
    border-radius: 3%;
    color: royalblue;
    transition: 0.3s ease;
    background: white;
    font-size: large;
    margin-bottom: 15%;
}

.projects .projectI button:hover{
    color: white;
    border: 1px solid royalblue;
    background: black;
}

.projects .projectI button:active{
    color: white;
    background: blue;
}
